## Java
*.class
hs_err_pid*

## Eclipse
*/.settings
*/bin
.metadata
.recommenders
.project
.classpath

## Intellij IDEA
.idea/
*.ipr
*.iws
*.iml

## Gradle
.gradle
build/

## Aquarria
aquarria/assets-terraria
aquarria/aquarria.json
aquarria/debug

## Hiero/OS
out*
*~
RemoteSystemsTempFiles
.DS_Store
